/*Tag body*/
body{
    background: #777;
}

/*Class*/
.card{
    padding: 10px;
    background: #bbb;
    margin-bottom: 5px;
}

.html{
    background: orange;
    color: white;
}

.css{
    background: rgb(47, 0, 255);
    color: white;
}

/*Id*/
#header{
  background: #ddd;
  padding: 10px;
  margin-bottom: 5px;
}

.card p {
 font-size: 15;
}